absl-py==2.3.1
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
altair==5.5.0
altgraph==0.17.4
antlr4-python3-runtime==4.9.3
anyio==4.10.0
attrs==25.3.0
audioread==3.0.1
auto-py-to-exe==2.46.0
av==15.1.0
bidict==0.23.1
bitarray==3.7.1
blinker==1.9.0
bottle==0.13.4
bottle-websocket==0.2.9
cachelib==0.13.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.1
click==8.2.1
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.3
cryptography==44.0.3
cycler==0.12.1
Cython==3.1.3
decorator==5.2.1
dnspython==2.7.0
Eel==0.18.2
einops==0.8.1
eventlet==0.40.1
fairseq @ git+https://github.com/One-sixth/fairseq.git@44800430a728c2216fd1cf1e8daa672f50dfacba
faiss-cpu==1.12.0
Faker==37.4.0
fastapi==0.88.0
ffmpeg==1.4
ffmpeg-python==0.2.0
ffmpy==0.3.1
filelock==3.19.1
Flask==3.1.1
flask-cors==6.0.1
Flask-Session==0.8.0
Flask-SocketIO==5.5.1
flatbuffers==25.2.10
fonttools==4.59.2
frozenlist==1.7.0
fsspec==2025.9.0
future==1.0.0
gevent==25.5.1
gevent-websocket==0.10.1
gradio==3.34.0
gradio_client==1.13.0
greenlet==3.2.3
grpcio==1.74.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.34.4
humanfriendly==10.0
hydra-core==1.3.2
hyper-connections==0.2.1
idna==3.10
importlib_resources==6.5.2
iniconfig==2.1.0
iso8601==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.2
json5==0.12.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
lazy_loader==0.4
librosa==0.10.2
linkify-it-py==2.0.3
llvmlite==0.44.0
local-attention==1.11.2
lxml==5.4.0
Markdown==3.9
markdown-it-py==2.2.0
MarkupSafe==3.0.2
matplotlib==3.10.6
matplotlib-inline==0.1.7
mdit-py-plugins==0.3.3
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.1.1
msgspec==0.19.0
multidict==6.6.4
mysql-connector-python==9.3.0
narwhals==2.5.0
netifaces==0.10.6
networkx==3.5
numba==0.61.2
numpy==2.2.4
omegaconf==2.3.0
onnxruntime-gpu==1.22.0
opcua==0.98.13
opencv-python==4.11.0.86
orjson==3.11.3
packaging==25.0
pandas==2.3.2
pefile==2023.2.7
pillow==11.3.0
platformdirs==4.4.0
pluggy==1.6.0
pooch==1.8.2
portalocker==3.2.0
praat-parselmouth==0.4.6
propcache==0.3.2
protobuf==6.32.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==1.10.23
pydub==0.25.1
Pygments==2.19.2
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
pymodbus==3.9.2
pyngrok==7.2.11
pyparsing==3.2.3
pypiwin32==223
pyreadline3==3.5.4
pyserial==3.5
pystray==0.19.5
pytest==8.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-engineio==4.12.2
python-multipart==0.0.20
python-socketio==5.13.0
pytz==2025.2
pywin32==310
pywin32-ctypes==0.2.3
pyworld==0.3.2
PyYAML==6.0.2
referencing==0.36.2
regex==2025.9.1
requests==2.32.3
resampy==0.4.3
rpds-py==0.27.1
sacrebleu==2.5.1
scikit-learn==1.7.2
scipy==1.16.2
semantic-version==2.10.0
simple-websocket==1.1.0
six==1.17.0
sniffio==1.3.1
socketio==0.2.1
soundfile==0.13.1
soxr==1.0.0
starlette==0.22.0
sympy==1.14.0
tabulate==0.9.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
threadpoolctl==3.6.0
tk==0.1.0
torch==2.8.0
torchaudio==2.8.0
torchcrepe==0.0.23
torchfcpe==0.0.4
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.14.0
tzdata==2025.2
uc-micro-py==1.0.3
urllib3==2.4.0
uv==0.7.19
uvicorn==0.35.0
websockets==15.0.1
Werkzeug==3.1.3
win10toast==0.9
winotify==1.1.0
WMI==1.5.1
wsproto==1.2.0
yarl==1.20.1
zope.event==5.1
zope.interface==7.2
