/* Converter Section */
.converter {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap; /* wrap on smaller screens */
    overflow: hidden;
}

/* Input Section */
.input-section, .output-section {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    flex: 1 1 400px; /* flexible width */
    max-width: 500px;
}

.input-section h2, .output-section h2 {
    margin-bottom: 20px;
    color: #16a085;
    font-size: 1.8em;
}

/* Input Elements */
.input-section form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-section input, 
.input-section select {
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1em;
    outline: none;
    transition: border 0.3s;
}

.input-section input:focus,
.input-section select:focus {
    border-color: #16a085;
}

/* Output Box */
.output-box {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    min-height: 120px;
    font-size: 1.1em;
    color: #2c3e50;
}

/* Button Style */
.btn-primary {
    padding: 12px 25px;
    background:  #1abc9c;
    color: white;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-primary:hover {
    background-color: #014d3d;
    transform: translateY(-2px);
}

/* Output Item */
.output-item {
    margin-bottom: 15px;
}

.output-item label, form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    /* color: #16a085; */
}

.output-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ecf0f1;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 1.1em;
    color: #2c3e50;
}

.copy-btn {
    background-color: #16a085;
    color: #fff;
    border: none;
    padding: 5px 12px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
    transition: all 0.3s ease;
}

.copy-btn:hover {
    background:  #014d3d;
    transform: translateY(-2px);
}
/* Responsive */
@media (max-width: 900px) {
    .converter {
        flex-direction: column;
        gap: 30px;
        padding: 30px 10px;
    }
}