<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ResgisterX{% endblock %}</title>
  <link rel="icon" href="{{ url_for('static',filename='logo/RegisterX No Background.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav>
        <div class="logo">
            <img id="logo-img" src="{{ url_for('static', filename='logo/RegisterX No Background.png') }}" alt="Logo">
            <a href="/" style="color:white; text-decoration:none;">RegisterX</a>
        </div>

        <!-- Hamburger icon -->
        <div class="hamburger" onclick="toggleMenu()">&#9776;</div>

        <ul id="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/convert">Convert</a></li>
            <li><a href="/typeconverter">TypeConvert</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>


    <!-- Main Content -->
    <main>
        {% block content %}
        <h1>RegisterX</h1>
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>Developed by Lokesh with Python / Flask</p>
    </footer>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>
</html>
